body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background: linear-gradient(150deg, #D7DBDD, #0f6eb7, #76D7C4, #7DCEA0 );
    height: 100vh;
    margin: 100;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: hsl(197, 90%, 84%);
    padding: 45px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.541);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

